<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marathi letter recognition | DL Project</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="static/css/comman.css" />
  </head>
  <body>
    <!-- Header Code -->
    <nav class="navbar navbar-light bg-primary">
      <a class="d-flex navbar-brand" href="#">
        <img
          src="static/img/logo.png"
          width="50"
          height="50"
          class="d-inline-block align-top"
          alt=""
          style="border-radius: 50%;"
        />
        <h3 class="text-light px-2">Marathi Handwritten Letter Recognition</h3>
      </a>
      <div class="text-right">
        <a href="./ref" class="text-light">
          <button class="btn btn-light">
            Reference Sheet
          </button>
        </a>
      </div>
    </nav>

    <!-- Body araa -->
    <div class="container">
      <div class="row">
        <div class="col-5">col-5</div>
        <div class="col-7">col-7</div>
      </div>
    </div>

    <!-- Footer Code -->
    <nav
      class="navbar navbar-light bg-primary sticky-bottom text-light d-flex justify-content-center"
    >
      <p class="text-light text-center">
        Dataset Link :
        <a
          class="text-light"
          href="https://archive.ics.uci.edu/ml/datasets/Devanagari+Handwritten+Character+Dataset"
          >https://archive.ics.uci.edu/ml/datasets/Devanagari+Handwritten+Character+Dataset</a
        >

        <br />
        Made with ❤️ by
        <a href="https://github.com/Mayank-MP05" class="text-light"
          >@Mayank_MP5</a
        >
      </p>
    </nav>
  </body>
</html>
