<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marathi letter recognition | DL Project</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <h1>Hello Buddy This is Flask here</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus
      mollitia asperiores qui quis dicta officia, cumque iste quos eius veniam
      sapiente, earum commodi deserunt? Eos ab corporis nam voluptatibus!
      Voluptatibus?
    </p>
  </body>
</html>
