<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>References - Marathi letter recognition | DL Project</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="static/drawing-board/drawingboard.min.css" />
    <link rel="stylesheet" href="static/css/comman.css" />
  </head>
  <body>
    <!-- Header Code -->
    <nav class="navbar navbar-light bg-primary">
      <a class="d-flex navbar-brand" href="#">
        <img
          src="static/img/logo.png"
          width="50"
          height="50"
          class="d-inline-block align-top"
          alt=""
          style="border-radius: 50%;"
        />
        <h3 class="text-light px-2">Marathi Handwritten Letter Recognition</h3>
      </a>
      <div class="text-right">
        <a href="/" class="text-light">
          <button class="btn btn-light">
            Homepage
          </button>
        </a>
      </div>
    </nav>

    <!-- Body araa -->
    <div class="container py-2">
      <h4>Marathi</h4>
      <p>
        Marathi is an Indo-Aryan language spoken by about 71 million people
        mainly in the Indian state of Maharashtra and neighbouring states.
        Marathi is also spoken in Israel and Mauritius. Marathi is thought to be
        a descendent of Maharashtri, one of the Prakrit languages which
        developed from Sanskrit. <br />Marathi first appeared in writing during
        the 11th century in the form of inscriptions on stones and copper
        plates. From the 13th century until the mid 20th century, it was written
        with the Modi alphabet. Since 1950 it has been written with the
        Devanāgarī alphabet.
      </p>
      <hr class="my-3" />
      <h6>Marathi Vowels</h6>
      <img src="static/img/ref/vowels.gif" alt="" class="w-100" />

      <hr class="my-3" />
      <h6>Marathi Consonents</h6>
      <img src="static/img/ref/consonents.gif" alt="" class="w-100" />

      <hr class="my-3" />
      <h6>Marathi Numbers</h6>
      <img src="static/img/ref/numbers.gif" alt="" class="w-100" />

      <hr class="my-3" />

      <a href="/" class="text-light text-right d-flex justify-content-end">
        <button class="btn btn-light">
          Homepage
        </button>
      </a>
    </div>

    <!-- Footer Code -->
    <nav
      class="navbar navbar-light bg-primary sticky-bottom text-light d-flex justify-content-center"
    >
      <p class="text-light text-center">
        Dataset Link :
        <a
          class="text-light"
          href="https://archive.ics.uci.edu/ml/datasets/Devanagari+Handwritten+Character+Dataset"
          >https://archive.ics.uci.edu/ml/datasets/Devanagari+Handwritten+Character+Dataset</a
        >

        <br />
        Made with ❤️ by
        <a href="https://github.com/Mayank-MP05" class="text-light"
          >@Mayank_MP5</a
        >
      </p>
    </nav>
  </body>
</html>
