* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  min-height: 100vh;
}

.sticky-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

p.text-light {
  padding: 0;
  margin: 0;
}

.square-board {
  width: 250px;
  height: 250px;
}

.btn-socket button {
  width: 45%;
  padding: 5px;
  margin: auto;
}

.thumb-img {
  width: 70px;
  height: 70px;
}

tr td:first-child {
  display: flex;
  justify-content: center;
}
